.big-fat-button-component ::deep a {
    color: rgb(248, 209, 101);
    font-size: 1.3rem;
    text-decoration: none;
    background-image: url(/images/big-fat-btn.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    min-width: 150px;
    min-height: 37px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.big-fat-button-component ::deep a:hover {
    text-decoration: none;
    background-position: 0 -37px;
}
