<div class="content-container">
    <div class="border-top">
        <div class="corner-left"></div>
        <div class="corner-right"></div>
    </div>

    @ChildContent

    <div class="border-bottom">
        <div class="corner-left"></div>
        <div class="corner-right"></div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}