.red-bg {
    height: 28px;
    background-image: url(/images/layout/red-content-header-bg.gif);
}

.green-bg {
    height: 24px;
    background-image: url(/images/layout/green-content-header-bg.gif);
    color: rgb(236, 206, 167);
    font-size: 1.4rem;
    line-height: 1.3;
    padding: 0 10px;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
}
