@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        Login
    </div>

    <div class="main">
        @Body
    </div>

    <div class="extras">
        Webshop
    </div>
</div>
