@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <SideMenu />
    </div>

    <div class="main">
        <ContentContainer>
            <OnlineCounter />
        </ContentContainer>

        @Body

        <LayoutFooter />
    </div>

    <div class="extras">
        Webshop
    </div>
</div>
