@page "/"

<ContentContainer>
    <Header>
        News Ticker
    </Header>
    <ContentWrapper>
        <h1 class="tibia-font">Hello, world!</h1>

        Welcome to your new app.
    </ContentWrapper>
</ContentContainer>

<ContentContainer>
    <Header>
        News
    </Header>
    <ContentWrapper>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti inventore est quidem, sequi itaque
        mollitia odio eaque at impedit molestias maxime accusantium iste pariatur asperiores ab tempore corrupti nemo?
    </ContentWrapper>
</ContentContainer>
