@inject IConfiguration Configuration

<div class="side-menu-header">

    <div class="subtext">
        @if (ShowSubititle)
        {
            @ServerSubtitle
        }
    </div>
    <div class="server-name tibia-font">
        <NavLink href="/">
            @if (ShowName)
            {
                @ServerName
            }
            else
            {
                <text>&nbsp;</text>
            }
        </NavLink>

    </div>


</div>


@code {
    string ServerName => Configuration.GetValue<string>("Server:Name");
    string ServerSubtitle => Configuration.GetValue<string>("Server:Subtitle");
    bool ShowName => Configuration.GetValue<bool>("Server:Header:Logo:ShowName");
    bool ShowSubititle => Configuration.GetValue<bool>("Server:Header:Logo:ShowSubtitle");
}