.menu-entries {
    display: flex;
    flex-direction: column;
}

.menu-entries ::deep a {
    color: #d7d7d7;
    font-size: 0.85rem;
    font-weight: bold;
    display: inline-block;
    background-color: rgb(13, 46, 43);
    overflow: hidden;
    padding-left: 10px;
    border-bottom: 1px solid #4b7874;
}

.menu-entries ::deep a:hover {
    text-decoration: none;
    background-color: rgb(20, 67, 63);
}
