@inject IConfiguration Configuration

<div class="side-menu-header">
    <div class="server-name tibia-font">
        @ServerName
    </div>
</div>


@code {
    string ServerName => Configuration.GetValue<string>("Server:Name");
}